.wait-wrapper
	position: fixed
	top: 30%
	left: 0
	z-index: 2001
	width: 100%
	color: white
	font-size: 32px

.wait-text
	font-size: 32px
	
.color-white
	color: white
	
.queue
	font-size: 20px
	
.avatar
	position: relative
	top: 4px
	
.chat-wrapper
	border: #e6e6e6 solid 1px
	padding-top: 10px
	
.message-wrapper
	border-bottom: #e6e6e6 solid 1px
	overflow: auto
	padding-left: 10px
	padding-right: 10px
	
.chat-avatar
	margin-top: 4px
	
.chat-image
	max-width: 200px
	
.chat-opera
	font-size: 24px
	
.mr-10
	margin-right: 10px
	
.ml-20
	margin-left: 20px
	
.mr-20
	margin-right: 20px
	
.input-wrapper
	height: 200px
	border: none
	
.text-input
	border: none
	margin-top: 10px
	height: 86px
	
.infinite-list-item
	line-height: 28px
	margin-bottom: 10px
	
.message
	margin-left: 6px
	margin-right: 6px
	padding-left: 8px
	padding-right: 8px
	padding-top: 4px
	padding-bottom: 4px
	border-radius: 5px
	max-width: 200px
	
.message-image
	margin-left: 6px
	margin-right: 6px
	padding-left: 8px
	padding-right: 8px
	padding-top: 8px
	
.message-receive
	background-color: #f2f3f3
	
.message-send
	background-color: #def2fd	
	
.bg-white
	background-color: #eee
	
.pt-5
	padding-top: 5px
	
.pb-5
	padding-bottom: 5px
	
.w-100
	width: 100%
	
.video-close
	position: relative
	z-index: 500
	